<?php

return array(

	// Plugins to load at start up
	'autoload' => array(
		'irc',
		'admin',
		'users',
		'puppet',
		'seen',
		'acl'
	),

	// Plugin settings
	'plugins' => array(
		'acl' => array(
			'default-level' => 0, /* Required user level for commands that aren't explicitly restricted. */
			'restrict-cmds' => true,
		),

		'irc' => array(
			'altnicks' => array( '[ExBot]', 'ExBot-' )

			'networks' => array(
				array(
					'nick' => 'ExBot',
					'username' => 'exbot',
					'realname' => 'I am ExBot',

					'channels' => array(
						'#world',
					),

					'servers' => array(
						'tcp://localhost:6667',
					),
				),
			),
		),

		'trac' => array(
			'trac.url' => 'https://www.trac.net',
			'login' => 'username:passwd',
			'channel' => '#trac'
		)
	),
);
