<?php

return array(

	// Plugins to load at start up
	'autoload' => array(
		'irc',
		'admin',
		'commands',
		'users',
		'puppet',
		'acl',
		'twitter',
	),

	// Plugin settings
	'plugins' => array(
		'acl' => array(
			'default-level' => 0,
		),

		'irc' => array(
			'altnicks' => array( '[ExBot]', 'ExBot-' )

			'networks' => array(
				array(
					'nick' => 'ExBot',
					'username' => 'exbot',
					'realname' => 'I am ExBot',

					'channels' => array(
						'#world',
					),

					'servers' => array(
						'tcp://localhost:6667',
					),
				),
			),
		),

		'trac' => array(
			'trac.url' => 'https://www.trac.net',
			'login' => 'username:passwd',
			'channel' => '#trac'
		)

		'twitter' => array(
			'key' => '',
			'secret' => '',
			'timeout-period' => 3600,
			'channel-access' => 'ALLOW #world',
		),

		'udprelay' => array(
			'require-key' => true,
			'keys' => array(
				'abc123' => 'freenode/#world',
			)
		),
	),
);
